<div
  class="jc-flex jc-items-center jc-p-2 jc-pr-4 jc-w-full jc-animate-pulse jc-border jc-bg-white jc-border-solid jc-border-platinum jc-rounded-xs [&.loaded]:jc-hidden [&.loaded]:jc-opacity-0 jc-duration-500"
  data-loader
>
  <div class="jc-w-full jc-h-15 jc-flex jc-items-center jc-justify-between">
    <div class="jc-flex jc-h-full jc-items-center jc-gap-2">
      <div class="jc-h-full jc-w-15 jc-bg-platinum jc-rounded-xxs"></div>
      <div class="jc-h-4 jc-w-32 jc-bg-platinum jc-rounded-full"></div>
    </div>

    <div class="jc-h-6 jc-w-6 jc-rounded-full jc-bg-platinum"></div>
  </div>
</div>
